.form {
	min-width: 320px;
	width: 40vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.inputs__date__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.input__date__wrapper {
	min-width: 230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input__date__label {
	white-space: nowrap;
}

.input__date,
.select__city {
	min-width: 105px;
	margin: 5px 10px;
}

.select__city__wrapper {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.submit {
	margin-top: 15px;
}

.citiesList {
	margin-top: 15px;
}
