.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wind_rose__wrapper {
	width: 70vmin;
	padding-top: 15px;
}

.dates__wind_rose__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.start_date__wind_rose {
	flex: 0 190px;
	text-align: center;
}
